body {
  background-color: #6a398f;
  margin: 0;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form legend {
  font-size: 1.2em;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);

}

fieldset {
  border: 1px solid #000;
  padding: 20px;
  width: 500px;
  background-color: rgb(157, 95, 226);
}

p {
  text-align: center;
  font-weight: bold;
}

label {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input {
  width: 250px;
  margin: auto;
}

.form-group label {
  display: block;
  text-align: center;
},


.radio-group label {
  margin: 0;
}

.radio-options {
  display: flex;
  justify-content: center;
}

.form-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  margin: 10px auto;
}

.form-row select, .form-row input {
  width: 125px;
}

.comments {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 250px;
  height: 80px;
}

.checkbox-group {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}
